
<ion-content>
 <div id="main">
    <div id="logoGarag">
         <img src="../../assets/img/logo2.png" width="200px" height="100px"/>
          <h1>Seja Bem Vindo.</h1>
    </div>


<div id="createAccount">
     <section>
         <ion-button class="shadow-button" expand="block" shape="round" color="create"><strong>Crie sua Conta</strong></ion-button>
      </section>
  </div>


<div id="facebookAccount">
     <section>
         <ion-button class="shadow-button" expand="block" shape="round" color="fase">
         <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
          <strong> Continue com o Facebook</strong></ion-button>
      </section>
  </div>


  </div>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
    <div id="iconPolitica">
    <ion-icon name="checkmark-circle" size="medium"></ion-icon>
    </div>

		<div id="termosPolitica">
       <a href=""> Aceito os Termos e Condições e a Política de Privacidade.</a>
        </div>
	</ion-toolbar>
</ion-footer>
